{
  "env": {
    "amd": false,
    "browser": false,
    "es6": true,
    "mocha": true,
    "node": true
  },
  "settings": {
    "ecmascript": 6
  },
  "rules": {
    "no-alert": 2,
    "no-array-constructor": 2,
    "no-caller": 2,
    "no-catch-shadow": 2,
    "no-cond-assign": 2,
    "no-console": 2,
    "no-constant-condition": 2,
    "no-control-regex": 2,
    "no-debugger": 2,
    "no-delete-var": 2,
    "no-dupe-keys": 2,
    "no-empty": 2,
    "no-eval": 2,
    "no-ex-assign": 2,
    "no-extend-native": 2,
    "no-extra-boolean-cast": 2,
    "no-fallthrough": 2,
    "no-func-assign": 2,
    "no-implied-eval": 2,
    "no-invalid-regexp": 2,
    "no-iterator": 2,
    "no-label-var": 2,
    "no-labels": 2,
    "no-lone-blocks": 2,
    "no-loop-func": 0,
    "no-multi-str": 2,
    "no-native-reassign": 2,
    "no-negated-in-lhs": 2,
    "no-new": 2,
    "no-new-func": 2,
    "no-new-object": 2,
    "no-new-wrappers": 2,
    "no-obj-calls": 2,
    "no-octal": 2,
    "no-octal-escape": 2,
    "no-proto": 2,
    "no-redeclare": 2,
    "no-regex-spaces": 2,
    "no-return-assign": 2,
    "no-script-url": 2,
    "no-shadow-restricted-names": 2,
    "no-spaced-func": 2,
    "no-sparse-arrays": 2,
    "no-undef": 2,
    "no-undef-init": 2,
    "no-unreachable": 2,
    "no-unused-expressions": 2,
    "no-unused-vars": [2, "all"],
    "no-with": 2,
    "camelcase": 1,
    "consistent-return": 2,
    "curly": 0,
    "dot-notation": 2,
    "eqeqeq": 2,
    "handle-callback-err": 2,
    "indent": [2, 2, { "SwitchCase": 1, "VariableDeclarator": 2 }],
    "new-cap": 2,
    "new-parens": 2,
    "quotes": [2, "single"],
    "semi": [2, "never"],
    "space-infix-ops": 2,
    "strict": [2, "global"],
    "use-isnan": 2,
    "valid-jsdoc": [2, {
      "requireParamDescription": false,
      "requireReturnDescription": false
    }],
    "no-trailing-spaces": 2
  }
}
